<header>
	<div class="row">
	 <%=form_tag(colleges_path,method: :get) do%>
		<%=text_field_tag :search,params[:search],class:"form-control",placeholder:"Search colleges"%>
		<br>
		<%=submit_tag("Search",class:"button")%>
		<br>
		<br>
	<% end%>
	<%if @query.present?%>
		<p><strong><%=@colleges.count%></strong> results found for <strong><%=@query %></strong></p>
		<br>
		<br>
	<%end %>
		 <h1>Colleges</h1>
           <% @colleges.each do |college|%>
 		   		<h4 id="head"><%=link_to college.name,college%><small> <%=time_ago_in_words(college.created_at)%> ago</small></h4>
			 <%=link_to "Practical", practicals_path(:college=>college.id),class:"button" %>
			 <%=link_to "Examnote", examnotes_path(:college=>college.id),class:"button" %>
			 <%=link_to "Assignment", assignments_path(:college=>college.id),class:"button" %>
			 <%=link_to "Paper", qpapers_path(:college=>college.id),class:"button" %>
			 <%=link_to "Edit",edit_college_path(college),class:"button" %>
			 <%=link_to "Delete", college,method: :delete,data:{confirm:"Are you sure?"},class:"button" %>
			 <br><br>
            <% end %>
	</div>
</header>


