<header>
    <h1 class="welcome_text"><%= @college.name %></h1>    
</header>
<section class="section_light">
    <h4>College Info</h4>

    <div class="row">
      <div class="twelve columns">

      <dl class="tabs three-up">
        <dd class="active"><a href="#simple1">Address</a></dd>
      </dl>
      <ul class="tabs-content">
        <li class="active" id="simple1Tab"><%=simple_format(@college.address)%></li>
      </ul>

      </div>
    </div>
    <%= link_to "Edit",edit_college_path(@college),class:"button"%>
    <%= link_to "Delete",@college,method: :delete,data:{confirm:"Are you sure?"},class:"button"%>
    <%= link_to "Back",:back,class:"button"%>
 	<br>
</section>

